## Preprocessing

In [49]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.callbacks import ModelCheckpoint
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [50]:
# Drop the non-beneficial ID column, 'EIN'
# ** try dropping only the EIN to see if keeping name affects accuracy
application_df = application_df.drop(columns=["EIN"])

In [51]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [53]:
# Look at APPLICATION_TYPE value counts for binning
application_type = application_df["APPLICATION_TYPE"].value_counts()

application_type

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [54]:
# look at NAME value counts for binning
name = application_df["NAME"].value_counts()
name

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [55]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace. 
application_types_to_replace = list(application_type[application_type < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [56]:
# Choose a cutoff value and create a list of names to be replaced

name_cutoff = 6
name_count = application_df["NAME"].value_counts()
names_to_replace = name_count[name_count < name_cutoff].index

# Replace in dataframe
for app in names_to_replace:
    application_df["NAME"] = application_df["NAME"].replace(app, "Other")

# Check to make sure binning was successful
application_df["NAME"].value_counts()

Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: NAME, Length: 355, dtype: int64

In [57]:
# Look at CLASSIFICATION value counts for binning
classification = application_df["CLASSIFICATION"].value_counts()
classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [58]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification.loc[classification > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [59]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# ** ** adjust number to 500
classifications_to_replace = list(classification[classification < 500].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [60]:

# check datatypes first 
application_df.dtypes

NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [61]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df, dtype=int)
dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [62]:
# Split our preprocessed data into our features and target arrays
y = dummies_df["IS_SUCCESSFUL"].values
X = dummies_df.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [63]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [64]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 80)                32000

 dense_16 (Dense)            (None, 30)                2430

 dense_17 (Dense)            (None, 1)                 31

=================================================================
Total params: 34461 (134.61 KB)
Trainable params: 34461 (134.61 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [65]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [66]:
# Train the model
# add checkpoints
checkpoints = "./checkpoints/weights.{epoch:02d}.hdf5"

# callback func to save every 5 epochs
callback = ModelCheckpoint(
    filepath=checkpoints,
    verbose=5,
    save_weights_only=True,
    save_freq="epoch",
    period=5,
)

fit_model = nn.fit(X_train_scaled,y_train,validation_data=(X_test_scaled, y_test),epochs=50,callbacks=[callback])

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.
Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4721 - accuracy: 0.7785 - val_loss: 0.4473 - val_accuracy: 0.7879
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4340 - accuracy: 0.7923 - val_loss: 0.4409 - val_accuracy: 0.7879
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4294 - accuracy: 0.7951 - val_loss: 0.4388 - val_accuracy: 0.7897
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4266 - accuracy: 0.7955 - val_loss: 0.4397 - val_accuracy: 0.7888
Epoch 5/50
794/804 [============================>.] - ETA: 0s - loss: 0.4242 - accuracy: 0.7978
Epoch 5: saving model to ./checkpoints/weights.05.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4250 - accuracy: 0.7968 - val_loss: 0.4374 - val_accuracy: 0.7911
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4233 - accuracy: 0.7968 - val_loss: 0.4362 - val_accuracy: 0.7913
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4222 - accuracy: 0.7992 - val_loss: 0.4365 - val_accuracy: 0.7902
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4208 - accuracy: 0.7974 - val_loss: 0.4381 - val_accuracy: 0.7906
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4198 - accuracy: 0.7979 - val_loss: 0.4359 - val_accuracy: 0.7918
Epoch 10/50
799/804 [============================>.] - ETA: 0s - loss: 0.4188 - accuracy: 0.7996
Epoch 10: saving model to ./checkpoints/weights.10.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4186 - accuracy: 0.7996 - val_loss: 0.4384 - val_accuracy: 0.7922
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4185 - accuracy: 0.7991 - val_loss: 0.4376 - val_accuracy: 0.7910
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4178 - accuracy: 0.7997 - val_loss: 0.4364 - val_accuracy: 0.7903
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4170 - accuracy: 0.8005 - val_loss: 0.4377 - val_accuracy: 0.7908
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4168 - accuracy: 0.8001 - val_loss: 0.4380 - val_accuracy: 0.7908
Epoch 15/50
796/804 [============================>.] - ETA: 0s - loss: 0.4153 - accuracy: 0.8015
Epoch 15: saving model to ./checkpoints/weights.15.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4161 - accuracy: 0.8009 - val_loss: 0.4385 - val_accuracy: 0.7909
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4159 - accuracy: 0.8016 - val_loss: 0.4388 - val_accuracy: 0.7920
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4149 - accuracy: 0.8016 - val_loss: 0.4401 - val_accuracy: 0.7900
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4147 - accuracy: 0.8021 - val_loss: 0.4399 - val_accuracy: 0.7890
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4139 - accuracy: 0.8019 - val_loss: 0.4417 - val_accuracy: 0.7911
Epoch 20/50
800/804 [============================>.] - ETA: 0s - loss: 0.4139 - accuracy: 0.8021
Epoch 20: saving model to ./checkpoints/weights.20.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.4135 - accuracy: 0.8023 - val_loss: 0.4410 - val_accuracy: 0.7893
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4135 - accuracy: 0.8026 - val_loss: 0.4404 - val_accuracy: 0.7909
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4125 - accuracy: 0.8029 - val_loss: 0.4469 - val_accuracy: 0.7923
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4124 - accuracy: 0.8037 - val_loss: 0.4442 - val_accuracy: 0.7890
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4120 - accuracy: 0.8036 - val_loss: 0.4411 - val_accuracy: 0.7902
Epoch 25/50
791/804 [============================>.] - ETA: 0s - loss: 0.4108 - accuracy: 0.8035
Epoch 25: saving model to ./checkpoints/weights.25.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4114 - accuracy: 0.8032 - val_loss: 0.4422 - val_accuracy: 0.7910
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4114 - accuracy: 0.8039 - val_loss: 0.4432 - val_accuracy: 0.7904
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4108 - accuracy: 0.8036 - val_loss: 0.4418 - val_accuracy: 0.7897
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4108 - accuracy: 0.8039 - val_loss: 0.4434 - val_accuracy: 0.7910
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4100 - accuracy: 0.8049 - val_loss: 0.4446 - val_accuracy: 0.7913
Epoch 30/50
791/804 [============================>.] - ETA: 0s - loss: 0.4099 - accuracy: 0.8039
Epoch 30: saving model to ./checkpoints/weights.30.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4099 - accuracy: 0.8041 - val_loss: 0.4440 - val_accuracy: 0.7894
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4097 - accuracy: 0.8051 - val_loss: 0.4478 - val_accuracy: 0.7900
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4097 - accuracy: 0.8045 - val_loss: 0.4426 - val_accuracy: 0.7886
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4094 - accuracy: 0.8043 - val_loss: 0.4408 - val_accuracy: 0.7902
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4089 - accuracy: 0.8064 - val_loss: 0.4451 - val_accuracy: 0.7894
Epoch 35/50
797/804 [============================>.] - ETA: 0s - loss: 0.4075 - accuracy: 0.8063
Epoch 35: saving model to ./checkpoints/weights.35.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4079 - accuracy: 0.8059 - val_loss: 0.4415 - val_accuracy: 0.7902
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4084 - accuracy: 0.8061 - val_loss: 0.4450 - val_accuracy: 0.7880
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4078 - accuracy: 0.8064 - val_loss: 0.4476 - val_accuracy: 0.7871
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4077 - accuracy: 0.8063 - val_loss: 0.4464 - val_accuracy: 0.7892
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4076 - accuracy: 0.8056 - val_loss: 0.4454 - val_accuracy: 0.7878
Epoch 40/50
785/804 [============================>.] - ETA: 0s - loss: 0.4068 - accuracy: 0.8066
Epoch 40: saving model to ./checkpoints/weights.40.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4069 - accuracy: 0.8067 - val_loss: 0.4477 - val_accuracy: 0.7885
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4067 - accuracy: 0.8060 - val_loss: 0.4450 - val_accuracy: 0.7876
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4068 - accuracy: 0.8051 - val_loss: 0.4463 - val_accuracy: 0.7860
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4064 - accuracy: 0.8076 - val_loss: 0.4464 - val_accuracy: 0.7871
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4057 - accuracy: 0.8060 - val_loss: 0.4511 - val_accuracy: 0.7875
Epoch 45/50
781/804 [============================>.] - ETA: 0s - loss: 0.4057 - accuracy: 0.8060
Epoch 45: saving model to ./checkpoints/weights.45.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4064 - accuracy: 0.8058 - val_loss: 0.4448 - val_accuracy: 0.7864
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4053 - accuracy: 0.8077 - val_loss: 0.4461 - val_accuracy: 0.7888
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4054 - accuracy: 0.8063 - val_loss: 0.4488 - val_accuracy: 0.7894
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4052 - accuracy: 0.8071 - val_loss: 0.4481 - val_accuracy: 0.7888
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4049 - accuracy: 0.8068 - val_loss: 0.4495 - val_accuracy: 0.7875
Epoch 50/50
783/804 [============================>.] - ETA: 0s - loss: 0.4054 - accuracy: 0.8074
Epoch 50: saving model to ./checkpoints/weights.50.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4052 - accuracy: 0.8072 - val_loss: 0.4507 - val_accuracy: 0.7885

In [67]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4507 - accuracy: 0.7885 - 237ms/epoch - 883us/step
Loss: 0.4507443606853485, Accuracy: 0.7884548306465149

In [68]:
# Export our model to HDF5 file
nn.save('alphabet-soup-optimized.h5')

/Users/siobhan/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(