## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2023-11-23 11:53:59.791824: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID column, 'EIN'
# ** try dropping only the EIN to see if keeping name affects accuracy
application_df = application_df.drop(columns=["EIN"])

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_type = application_df["APPLICATION_TYPE"].value_counts()

application_type

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [18]:
# look at NAME value counts for binning
name = application_df["NAME"].value_counts()
name

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [19]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace. 
application_types_to_replace = list(application_type[application_type < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [20]:
# Choose a cutoff value and create a list of names to be replaced

name_cutoff = 6
name_count = application_df["NAME"].value_counts()
names_to_replace = name_count[name_count < name_cutoff].index

# Replace in dataframe
for app in names_to_replace:
    application_df["NAME"] = application_df["NAME"].replace(app, "Other")

# Check to make sure binning was successful
application_df["NAME"].value_counts()

Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: NAME, Length: 355, dtype: int64

In [26]:
# Look at CLASSIFICATION value counts for binning
classification = application_df["CLASSIFICATION"].value_counts()
classification

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [27]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification.loc[classification > 1]

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [39]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# ** ** adjust number to 500
classifications_to_replace = list(classification[classification < 500].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [40]:

# check datatypes first 
application_df.dtypes

NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [41]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df, dtype=int)
dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [42]:
# Split our preprocessed data into our features and target arrays
y = dummies_df["IS_SUCCESSFUL"].values
X = dummies_df.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [43]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [44]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 80)                31920

 dense_13 (Dense)            (None, 30)                2430

 dense_14 (Dense)            (None, 1)                 31

=================================================================
Total params: 34381 (134.30 KB)
Trainable params: 34381 (134.30 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [45]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [46]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_data=(X_test_scaled, y_test),epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.4741 - accuracy: 0.7729 - val_loss: 0.4455 - val_accuracy: 0.7936
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4347 - accuracy: 0.7910 - val_loss: 0.4396 - val_accuracy: 0.7910
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4294 - accuracy: 0.7939 - val_loss: 0.4361 - val_accuracy: 0.7918
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4279 - accuracy: 0.7950 - val_loss: 0.4341 - val_accuracy: 0.7942
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4251 - accuracy: 0.7931 - val_loss: 0.4375 - val_accuracy: 0.7937
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4252 - accuracy: 0.7947 - val_loss: 0.4353 - val_accuracy: 0.7928
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4235 - accuracy: 0.7950 - val_loss: 0.4348 - val_accuracy: 0.7953
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4230 - accuracy: 0.7954 - val_loss: 0.4371 - val_accuracy: 0.7949
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4218 - accuracy: 0.7961 - val_loss: 0.4365 - val_accuracy: 0.7952
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4214 - accuracy: 0.7958 - val_loss: 0.4375 - val_accuracy: 0.7925
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4205 - accuracy: 0.7975 - val_loss: 0.4371 - val_accuracy: 0.7936
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4200 - accuracy: 0.7970 - val_loss: 0.4418 - val_accuracy: 0.7953
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4196 - accuracy: 0.7972 - val_loss: 0.4399 - val_accuracy: 0.7966
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4187 - accuracy: 0.7987 - val_loss: 0.4371 - val_accuracy: 0.7973
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4184 - accuracy: 0.7989 - val_loss: 0.4375 - val_accuracy: 0.7959
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4178 - accuracy: 0.7996 - val_loss: 0.4380 - val_accuracy: 0.7949
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4173 - accuracy: 0.8000 - val_loss: 0.4402 - val_accuracy: 0.7943
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4171 - accuracy: 0.8000 - val_loss: 0.4404 - val_accuracy: 0.7939
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4166 - accuracy: 0.7998 - val_loss: 0.4401 - val_accuracy: 0.7943
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4159 - accuracy: 0.8004 - val_loss: 0.4419 - val_accuracy: 0.7953
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4152 - accuracy: 0.7997 - val_loss: 0.4410 - val_accuracy: 0.7965
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4154 - accuracy: 0.8004 - val_loss: 0.4407 - val_accuracy: 0.7950
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4148 - accuracy: 0.8004 - val_loss: 0.4421 - val_accuracy: 0.7972
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4148 - accuracy: 0.8006 - val_loss: 0.4401 - val_accuracy: 0.7972
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4142 - accuracy: 0.8012 - val_loss: 0.4426 - val_accuracy: 0.7964
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4138 - accuracy: 0.8018 - val_loss: 0.4407 - val_accuracy: 0.7958
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4135 - accuracy: 0.8016 - val_loss: 0.4429 - val_accuracy: 0.7948
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4135 - accuracy: 0.8019 - val_loss: 0.4425 - val_accuracy: 0.7946
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4129 - accuracy: 0.8019 - val_loss: 0.4412 - val_accuracy: 0.7960
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4125 - accuracy: 0.8018 - val_loss: 0.4418 - val_accuracy: 0.7951
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4126 - accuracy: 0.8019 - val_loss: 0.4430 - val_accuracy: 0.7957
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4120 - accuracy: 0.8024 - val_loss: 0.4417 - val_accuracy: 0.7945
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4116 - accuracy: 0.8029 - val_loss: 0.4433 - val_accuracy: 0.7950
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4118 - accuracy: 0.8038 - val_loss: 0.4444 - val_accuracy: 0.7953
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4112 - accuracy: 0.8033 - val_loss: 0.4439 - val_accuracy: 0.7956
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4108 - accuracy: 0.8040 - val_loss: 0.4434 - val_accuracy: 0.7951
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4106 - accuracy: 0.8033 - val_loss: 0.4457 - val_accuracy: 0.7921
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4107 - accuracy: 0.8028 - val_loss: 0.4441 - val_accuracy: 0.7955
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4099 - accuracy: 0.8033 - val_loss: 0.4484 - val_accuracy: 0.7939
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4101 - accuracy: 0.8032 - val_loss: 0.4450 - val_accuracy: 0.7950
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4097 - accuracy: 0.8036 - val_loss: 0.4478 - val_accuracy: 0.7943
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4100 - accuracy: 0.8043 - val_loss: 0.4434 - val_accuracy: 0.7950
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4094 - accuracy: 0.8045 - val_loss: 0.4475 - val_accuracy: 0.7938
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4097 - accuracy: 0.8033 - val_loss: 0.4449 - val_accuracy: 0.7921
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4089 - accuracy: 0.8043 - val_loss: 0.4457 - val_accuracy: 0.7942
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4089 - accuracy: 0.8033 - val_loss: 0.4450 - val_accuracy: 0.7932
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4086 - accuracy: 0.8043 - val_loss: 0.4505 - val_accuracy: 0.7935
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4086 - accuracy: 0.8042 - val_loss: 0.4467 - val_accuracy: 0.7929
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4081 - accuracy: 0.8043 - val_loss: 0.4483 - val_accuracy: 0.7936
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4085 - accuracy: 0.8043 - val_loss: 0.4469 - val_accuracy: 0.7935

In [47]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4469 - accuracy: 0.7935 - 229ms/epoch - 855us/step
Loss: 0.4469223618507385, Accuracy: 0.7934693694114685

In [48]:
# Export our model to HDF5 file
nn.save('alphabet-soup-optimized.h5')

/Users/siobhan/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(